.banner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rebeccapurple;
}

.message {
  color: #fff;
}
